<a href="https://colab.research.google.com/github/ednamilgo/EASY_ML/blob/main/Python_1(c)_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# FUNCTIONS

# print() Function

In [1]:
print("This is some text to output to the user")

This is some text to output to the user

## Using variables in print()

In [2]:
name="Joy"
print("Welcome to EASY-ML" + name)

Welcome to EASY-MLJoy

In [3]:
weight = 20
print("The weight is "+ str(weight))

The weight is 20

# type() Function

In [4]:
weight=3.56
message="Hello"
my_list=["Mary", 20, "Jack",25]

In [6]:
type(weight)

float

In [7]:
type(message)

str

In [8]:
type(my_list)

list

# input Function

In [9]:
name = input("Enter your name ")

Enter your name Jane

In [10]:
print("You have entered " + name)

You have entered Jane

In [11]:
age = input("Enter your age (in years) ")

Enter your age (in years) 20

In [12]:
print("You have entered " + str(age))

You have entered 20

## Multiple Input Prompts

In [13]:
print("Please enter 4 grades")

# Receive 4 grades from the user
grade1 = int(input("Enter grade 1: "))
grade2 = int(input("Enter grade 2: "))
grade3 = int(input("Enter grade 3: "))
grade4 = int(input("Enter grade 4: "))

# Print the grades
print("You entered the following grades:", grade1, grade2, grade3, grade4)

Please enter 4 grades
Enter grade 1: 3
Enter grade 2: 5
Enter grade 3: 6
Enter grade 4: 6
You entered the following grades: 3 5 6 6

# USER DEFINED FUNCTIONS

In [14]:
def find_average(a, b):
    return (a + b) / 2

In [15]:
result = find_average(10, 6)
print("The average is:", result)

The average is: 8.0

## Function with multipme parameters

In [17]:
# Function with 3 parameters
def calculate_total(price, quantity, VAT):
    total = (price * quantity) * (1+VAT)
    print(f"The total cost is: {total}")


price = float(input("Enter the price of one item: "))
quantity = int(input("Enter the quantity: "))
VAT = float(input("Enter the VAT rate (e.g. 0.16 for 16%): "))

# Call the function with the input values
calculate_total(price, quantity, VAT)

Enter the price of one item: 20
Enter the quantity: 2
Enter the VAT rate (e.g. 0.16 for 16%): .16
The total cost is: 46.4