<a href="https://colab.research.google.com/github/ednamilgo/EASY_ML/blob/main/4_(b)_practicals_perceptron.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Building A classification Model Using Perceptron

In [ ]:
# Single Layer Perceptron(SLP)

In [ ]:
# Import necessary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Import the Machine Learning libraries
from sklearn.linear_model import Perceptron
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

steps:

1. Load the dataset.
2. Preprocess the data -remove null values
3. Split into features/input and target/output variable
4. Split the dataset into training and testing sets
5. Create a classification model
6. Fit the model to the dataset
7. Make predictions using the model
8. Evaluate the model

# Step 1:  Load the Dataset

In [ ]:
iris_df = pd.read_csv('datasets/iris.csv')

In [ ]:
# Inspect the first 5 rows to understand the structure
iris_df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [ ]:
iris_df.info() # get the information of the dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [ ]:
iris_df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

# Step 2: Data Preprocessing

In [ ]:
iris_df.drop("Id", axis=1, inplace=True)

In [ ]:
iris_df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

# Step 3 : Step Split the dataset into input and output

We need to separate the dataset into the features (X) and the target variable (y). The target variable is the Output (S) column

In [ ]:
# Separate features (X) and target variable (y)
X = iris_df.drop('Species', axis=1 )
# All features except ''Outcome''
y = iris_df['Species']  # The target variable is the Outcome column

# Step 4: Split the dataset into training and testing sets

Next we will split the inputs and outputs into traing and testing set. The default ration is 80% for training and 20% for testing

In [ ]:
# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Check the shape of the training and test sets
(X_train.shape, X_test.shape)

((120, 4), (30, 4))

# Step 5:  Building and Training the Model

We will initialize a logistic regression model

In [ ]:
# Perceptron?

In [ ]:
# Initialize the Perceptron model
perceptron_model = Perceptron(max_iter=1_00)

# Step 6: Fit the model to the training data

In [ ]:
perceptron_model.fit(X_train,y_train )

Perceptron(max_iter=100)

# Step 7: Make predictions on the test set

In [ ]:
# Make predictions on the test set
y_pred = perceptron_model.predict(X_test)

# Step 8:  Model Evaluation

Next, we will evaluate the model's performance using
 accuracy_score

In [ ]:
accuracy = accuracy_score(y_test, y_pred)
print(f'Accuracy: {accuracy:.2f}')

Accuracy: 0.83